html, body {
  height:100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-gradient {
  height:100%;
  background:
    linear-gradient(100deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  background-repeat:no-repeat;
  transform-origin:left;
}
